.header_div{

    background-color:#B99976;
    
}
    


body
{
  
  background-color: #DBCFAB;
}

#btnstart{
  margin-top:30px ;
  margin-bottom:30px;
}

.h2{

font-family:'Aclonica';

}

